<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title>
      TRANSLATE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="textInput">
    <div class="textInputHeader">
      <div class="languageSelection">
        <ion-label>From</ion-label>
        <ion-select placeholder="Language">
          <ion-select-option value="apples">English</ion-select-option>
          <ion-select-option value="oranges">Portuguese</ion-select-option>
          <ion-select-option value="bananas">Spanish</ion-select-option>
        </ion-select>
      </div>

      <ion-button fill="outline" color="success" mode="ios"
        *ngIf="!listening" (click)="startListening()"><ion-icon name="mic-outline"></ion-icon></ion-button>
      <ion-button fill="outline" color="danger" mode="ios"
        *ngIf="listening" (click)="stopListening()"><ion-icon name="mic-outline"></ion-icon></ion-button>
    </div>

    <ion-textarea rows="4" placeholder="Enter text..." [value]="translateText" mode="ios"></ion-textarea>
  </div>

  <div class="textInput">
    <div class="textInputHeader">
      <div class="languageSelection">
        <ion-label>To</ion-label>
        <ion-select placeholder="Language">
          <ion-select-option value="apples">English</ion-select-option>
          <ion-select-option value="oranges">Portuguese</ion-select-option>
          <ion-select-option value="bananas">Spanish</ion-select-option>
        </ion-select>
      </div>
    </div>

    <ion-textarea rows="4" placeholder="Enter text..." mode="ios"></ion-textarea>
  </div>



</ion-content>
