@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

* {
  font-family: 'Heebo', sans-serif;
}

ion-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

ion-content {
  --background: #272729;
}

.textInput {
  display: flex;
  flex-direction: column;
  background-color: var(--ion-color-light);
  border-radius: 0.6rem;
  margin: 1rem;
  box-shadow: 0 0 0.3rem #0000006e;

  ion-textarea {
    font-size: 2rem;
    font-weight: 300;
    height: 30vh;
    padding: 1rem;
  }

  .translateButton {
    font-weight: 800;
  }

  .textInputHeader {
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161414;

    .languageSelection {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.3rem;

      h1 {
        font-size: inherit;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 15px;
        color: #696969;

        ion-icon {
          font-size: 1rem;
          color: #8d8d8d;
        }
      }
    }
  }
}
