<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title>
      TRANSLATE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="textInput">
    <div class="textInputHeader">
      <div class="languageSelection">
        <ion-label>From</ion-label>
        <h1 (click)="openModal('from')">{{fromLanguage || 'Language'}}<ion-icon name="caret-down-outline"></ion-icon></h1>
      </div>

      <ion-button fill="outline" color="success" mode="ios"
        *ngIf="!listening" (click)="startListening()"><ion-icon name="mic-outline"></ion-icon></ion-button>
      <ion-button fill="outline" color="danger" mode="ios"
        *ngIf="listening" (click)="stopListening()"><ion-icon name="mic-outline"></ion-icon></ion-button>
    </div>

    <ion-textarea rows="4" placeholder="Enter text..." [value]="toTranslateText" mode="ios"></ion-textarea>
  </div>

  <div class="textInput">
    <div class="textInputHeader">
      <div class="languageSelection">
        <ion-label>To</ion-label>
        <h1 (click)="openModal('to')">{{toLanguage || 'Language'}}<ion-icon name="caret-down-outline"></ion-icon></h1>
      </div>

      <ion-button fill="outline" color="primary" mode="ios"
        (click)="ttsSpeak()"><ion-icon name="mic-outline"></ion-icon></ion-button>
    </div>

    <ion-textarea rows="4" disabled mode="ios" [value]="translatedText"></ion-textarea>
  </div>

</ion-content>
